* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;

}

html {
    max-width: 100vw;
    overflow-x: hidden;


}

body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdansans-serif; */
    font-family: serif;
    background: #f3f3f3;
    /* height: 600vh; */
    max-width: 100vw;
    overflow-x: hidden;
}

#navheader {
    border-radius: 100px;
    opacity: 0.90;
}

.section {
    min-height: 100vh;
    min-width: 100vw;
    /* overflow: hidden; */
    /* transition: all 1s; */
}





/* header starts */
header {
    display: flex;
    justify-content: space-between;
    min-width: 100vw;
    min-height: 60px;
    max-height: 60px;
    max-width: 100vw;
    /* overflow: hidden; */
    padding: 15px 30px 20px 30px;
    background: transparent;
    position: fixed;
    z-index: 99999;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 60px;
    min-width: 100vw;
    background-color: #f3f3f3;
    opacity: 0.40;
    z-index: -1;
}

.logo img {
    width: 35px;
    color: #FF8603;
    border-radius: 50%;

}

/* 
ul {
    list-style: none;
    color: #FF8603;
    font-weight: bold;
} */

/* header ul li:nth-child(1) {
    border-bottom: 3px solid black;
    border-radius: 3px;
} */


.service-blocks {
    height: 160px;
    z-index: -99999;
}

/* 
li {
    display: inline-block;
    margin-left: 25px;
} */

/* header ends */

/* block-1 content */
/* .block-1-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
} */


.block-1-image-desc {
    background: url("../image/spark_logo_main.png") no-repeat center #ffffff;
    background-size: 1400px;
    background-position-y: -20px;
    min-height: 100vh;
    min-width: 100%;
    /* color: #2E6E6E; */
    /* padding: 60vh 250px 0px 250px;
    font-size: 20px;
    font-weight: 500; */

}



.main-text {
    margin-top: 25%;
}


#project-hide {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbarNav {
    /* font-size: 12px; */
    font-weight: bold;

}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 1325px) {

    .block-1-image-desc {
        background: url("../image/spark_logo_main.png") no-repeat center #ffffff;
        background-size: 1000px;
        background-position-y: -20px;
        min-height: 100vh;
        min-width: 100%;
        color: #2E6E6E;
        /* padding: 60vh 250px 0px 250px; */
        font-size: 15px;

        /* font-weight: 500; */

    }

    /* .reponsive-custom {
        display: flex;
        align-items: flex-end;
    } */

    #project-hide {
        display: none;
    }

    #header-text {
        font-size: 19px;
        font-family: 'Colonna MT', sans-serif;
    }

    #navbarNav {
        font-size: 12px;
        font-weight: 400;

    }

    #sec-1-img {
        width: 200px;
    }

    #logo-img {
        width: 150px;
    }

    body {
        font-size: 15px;
    }



}


/* block-1 ends */


#map-box {
    height: 350px;
}






.header-text {
    font-size: 30px;
    padding: 0;
    font-family: 'Colonna MT', sans-serif;
}


#logo-img {
    max-width: 35px;
}

.heading-mobile {
    font-size: 30px;
}

@media (max-width: 400px) {

    #image-left {
        /* max-width: 200px; */
        display: none;
    }


    .heading-mobile {
        font-size: 18px;
    }

    #header-text {
        font-size: 15px;
        font-family: 'Colonna MT', sans-serif;
    }


    #logo-img {
        max-width: 30px;
    }

    body {
        font-size: 12px;
    }
}


@media (max-width: 320px) {


    
    #header-text {
        font-size: 13px;
        font-family: 'Colonna MT', sans-serif;
    }

    #sec-1-img {
        width: 180px;
    }

    #logo-img {
        max-width: 28px;
    }

    body {
        font-size: 12px;
    }
}



.no-scroll {
    overflow-y: hidden;
    position: fixed;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
	background-color: #F5F5F5;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
    /* box-shadow: inset 0 0 5px grey;  */
    /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #000000;
	border: 2px solid #555555;
}