* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;

}

html {
    max-width: 100vw;
    overflow-x: hidden;


}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #ffffff;
    /* height: 600vh; */
    max-width: 100vw;
    overflow-x: hidden;
}


.section {
    min-height: 100vh;
    min-width: 100vw;
    /* overflow: hidden; */
    transition: all 1s;
}





/* header starts */
header {
    display: flex;
    justify-content: space-between;
    min-width: 100vw;
    min-height: 60px;
    max-height: 60px;
    max-width: 100vw;
    /* overflow: hidden; */
    padding: 15px 30px 20px 30px;
    background: transparent;
    position: fixed;
    z-index: 99999;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 60px;
    min-width: 100vw;
    background-color: #f3f3f3;
    opacity: 0.40;
    z-index: -1;
}

.logo img {
    width: 35px;
    color: #FF8603;
    border-radius: 50%;

}


ul {
    list-style: none;
    color: #FF8603;
    font-weight: bold;
}

/* header ul li:nth-child(1) {
    border-bottom: 3px solid black;
    border-radius: 3px;
} */


.service-blocks {
    height: 160px;
    z-index: -99999;
}

li {
    display: inline-block;
    margin-left: 25px;
}

/* header ends */

/* block-1 content */
.block-1-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.block-1-image-desc {
    background: url("../image/spark_logo_main.png") no-repeat center #ffffff;
    background-size: 1400px;
    background-position-y: -20px;
    min-height: 100vh;
    min-width: 100%;
    color: #2E6E6E;
    /* padding: 60vh 250px 0px 250px;
    font-size: 20px;
    font-weight: 500; */

}

.reponsive-custom {
    display: flex;
    align-items: center;
    /* margin-top: 50%; */
}

.main-text {
    margin-top: 25%;
}


#project-hide {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 778px) {

    .block-1-image-desc {
        background: url("../image/spark_logo_main.png") no-repeat center #ffffff;
        background-size: 1000px;
        background-position-y: -20px;
        min-height: 100vh;
        min-width: 100%;
        color: #2E6E6E;
        /* padding: 60vh 250px 0px 250px; */
        font-size: 15px;
        /* font-weight: 500; */

    }

    .reponsive-custom {
        display: flex;
        align-items: flex-end;
    }

    #project-hide {
        display: none;
    }

}


/* block-1 ends */


#map-box {
    height: 350px;
}